body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 68, 0.925);


  min-height: 100vh;
  margin: 0;
  animation: fadeIn 0.4s ease-in;
}

body::before {
    content: "";

    position: fixed;
    inset: 0;

    background-image: url("glowing-musical-pentagram-background-with-sound-notes_1017-31220.avif");
    background-size: cover;
    background-position: center;

    opacity: 0.2;

    z-index: -1;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.pm {
    font-family: "IM Fell French Canon", sans-serif;
    color: white;
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 1%;
}

.msclesson {
    font-family: "IM Fell French Canon", sans-serif;
    font-weight: bold;
    width: 145px;
    height: 50px;
    border-radius: 12px;
    background-color: rgba(214, 158, 3, 0.788);
}

.msclesson a {
    color: white;
        text-decoration: none;
        font-size: 20px;
}

.goal {
    font-family: "IM Fell French Canon", sans-serif;
    font-weight: bold;
    width: 145px;
    height: 50px;
    border-radius: 12px;
    background-color: rgba(211, 61, 1, 0.767);
}

.goal a {
    color: white;
        text-decoration: none;
        font-size: 25px;
}

.minigame {
    font-family: "IM Fell French Canon", sans-serif;
    font-weight: bold;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    border-radius: 12px;
    background-image: url("forest.jpg");
    background-color: rgba(76, 0, 197, 0.692);
}

.minigame a {
    color: white;
        text-decoration: none;
        font-size: 24px;
}

.top-buttons {
    display: flex;
    gap: 10px;
}


.back {
    position: absolute;
    left: 20px;
    top: 20px;
    
    font-size: 24px;
    border: none;
    background: transparent;

    cursor: pointer;

    transition: transform 0.2s ease;
}

.back a {
        text-decoration: none;
    color: white;
}

.back:hover {
    transform: scale(1.2);
}

.back:active {
    transform: scale(1.35);
}